.text_center{
    text-align: center;
}
.container_primal{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 400px;
    height: 150px; 
}
.container_central{
    display: flex;
    justify-content: center;
}
.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}